
#reportrange {
    position: relative;
}

#reportrange .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 40px;
}

                       

.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.row-bordered:last-child {
    border-top: 50px;
}

.modal-body {
    font-size: 1.5rem;
}

.odd-col-header > div:nth-child(odd) {
    font-weight: bold;
}

/* col-xs */
@media (max-width: 767px) {
    .modal-body > .row {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

    .modal-body > .row > .col-xs-6 {
        margin-bottom: 5px;
    }
    
    .modal-body > .row > .col-xs-6 {
        border-bottom: 1px solid #f4f4f4;
    }

    .modal-body > .row > .no-xs-border {
        border-bottom: 0;
    }
}

/* col-md */
@media (min-width: 1200px) {
    .modal-dialog.large {
        width: 45%;
    }
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    padding-bottom: 80px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 64px;
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    /* padding: 60px 15px 0; */
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-muted a {
    color: #757575 !important;
    padding-left: 16px;
}

.text-muted div > a:first-child {
    padding-left: 0;
}
  
  code {
    font-size: 80%;
  }

.navbar .search .fa-search {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #777;
        }

        .notification-xs .fa {
            color: #777;
        }

        .dropdown-toggle>.label {
            position: absolute;
            top: 17px;
            right: 4px;
            font-size: 8px;
        }

        .dropdown-toggle>.fa {
            margin-top: 3px;
            padding-bottom: 4px;
        }

        .clickable {
            cursor: pointer;
        }

        .panel-heading span {
            margin-top: -20px;
            font-size: 15px;
        }

        .tab-content {
            margin-top: 20px;
        }

        .row-empty {
            height: 20px;
        }

        .panel-heading.has-form {
            padding: 5px 15px;
            min-height: 47px;
        }

        .panel-heading .form-group {
            margin-bottom: 0;
            bottom: 3px;
        }

        .table-navigation-bar {
            margin-top: 10px;
        }
        .table-navigation-bar input {
            width: 25px !important;
            margin-right: 40px;
        }

        .table-navigation-bar input,
        .table-navigation-bar select {
            margin-right: 10px;
        }

        .table-navigation-bar .btn-group {
            margin-left: 10px;
        }

        .table-navigation-bar {
            float: right;
        }

        @media (max-width: 767px) {
            .table-navigation-bar {
                float: left;
            }
        }

        @media (max-width: 767px) {
            .hiddent-last-xs th:last-child,
            .hiddent-last-xs td:last-child {
                display: none !important;
            }
        }

        @media (max-width: 767px) {
            .table-navigation-bar select.form-control {
                display: inline-block;
                width: 40px;
            }
            .table-navigation-bar input.form-control {
                display: inline-block;
                width: 30px;
            }
            .table-navigation-bar .btn-group,
            .table-navigation-bar input,
            .table-navigation-bar select {
                margin: 0;
            }
        }

        @media (max-width: 991px) {
            nav {
                margin-bottom: 0 !important;
            }
        }

        @-moz-document url-prefix() {
            fieldset {
                display: table-cell;
            }
        }

        #products-tabs li>a>i.fa {
            margin-top: 6px;
            height: 18px;
        }

        .padFix {
            padding-top: 9px;
        }

        .fa.form-control-feedback {
            top: 12px;
            right: -11px;
        }

        .notification-xs {
            margin: 15px;
        }

        .notification-xs .fa-bell {
             top: 8px; 
             position: absolute; 
             right: 10px; 
        }

        .notification-xs .dropdown-toggle>.label {
            top: 4px;
            right: 0px;
        }

        .notification-xs .dropdown-menu {
            margin-top: 50px;
        }

        .panel-primary .panel-heading .dropdown {
            color: #b2dbfb;
        }

        .panel-primary .panel-heading input[type=text],
        .panel-primary .panel-heading input[type=password] {
            color: #fff;
            -webkit-box-shadow: inset 0 -1px 0 #b2dbfb;
            box-shadow: inset 0 -1px 0 #b2dbfb;
        }

        .panel-primary .panel-heading input[type=text]::-moz-placeholder,
        .panel-primary .panel-heading input[type=password]::-moz-placeholder {
            color: #b2dbfb;
            opacity: 1;
        }

        .panel-primary .panel-heading input[type=text]:-ms-input-placeholder,
        .panel-primary .panel-heading input[type=password]:-ms-input-placeholder {
            color: #b2dbfb;
        }

        .panel-primary .panel-heading input[type=text]::-webkit-input-placeholder,
        .panel-primary .panel-heading input[type=password]::-webkit-input-placeholder {
            color: #b2dbfb;
        }

        .panel-primary .panel-heading input[type=text]:focus,
        .panel-primary .panel-heading input[type=password]:focus {
            -webkit-box-shadow: inset 0 -2px 0 #ffffff;
            box-shadow: inset 0 -2px 0 #ffffff;
        }

.daterangepicker .calendar th, .daterangepicker .calendar td {
    min-width: 0;
}
.daterangepicker td.in-range {
    background-color: #f9f9f9;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #2196f3;
}

.ranges li {
    background-color: #f9f9f9;
    color: #2196f3;
}
.ranges li.active,
.ranges li:hover {
    background-color: #2196f3;
    border: 1px solid #2095F3;
}

#wawa-logo {
    height: 55px;
    position: relative;
    top: -15px;
}

.navbar-brand {
    width: 79px;
    height: 64px;
    overflow: hidden;
}