  .card-title {
    font-size: 1.4rem;
  }

  .card-title .fa-info-circle {
    position: relative !important;
    top: 7px;
    color: #2196f3 !important;
  }

  .card-title .fa-warning {
    position: relative !important;
    top: 7px;
    color: #D4AC66 !important;
  }

  .not-card {
    border-bottom: 1px solid #f2f2f2;
    min-width: 220px;
  }
  .not-card:last-child {
    border-bottom: 0;
  }
  .card-links a {
    background-color: #fff !important;
  }

  .dropdown-menu > li.not-card {
    display: block;
    padding: 3px 25px;
    clear: both;
    font-weight: normal;
    line-height: 1.846;
    color: #666666;
    white-space: nowrap;
  }