<div class="row">
    <div class="col-md-12">
        <h2>PDI</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="brokernumber" class="col-sm-2 col-md-4 control-label">Broker Number</label>
                <div class="col-sm-10 col-md-8">
                    <select class="selectpicker form-control show-tick" data-live-search="true">
                        <option>0411681 - CAPITAL INSURANCE BROKERS</option>
                        <option>0211682 - showcase10</option>
                        <option>0411683 - showcase11</option>
                        <option>0411681 - showcase11</option>
                        <option>0411681 - showcase12</option>
                        <option>0211682 - showcase13</option>
                        <option>0411683 - showcase14</option>
                        <option>0411681 - showcase15</option>
                        <option>0411681 - showcase16</option>
                        <option>0211682 - showcase22</option>
                        <option>0311683 - showcase21</option>
                        <option>0411681 - showcase33</option>
                        <option>0411681 - showcase32</option>                        
                    </select>
                    <!-- <input type="text" class="form-control" id="brokernumber" placeholder="0322574"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="policynumber" class="col-sm-2 col-md-4 control-label">Policy Number</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="policynumber" placeholder="1234567">
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-sm-2 col-md-4 control-label">Customer Name</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="customername" placeholder="1234567">
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-sm-2 col-md-4 control-label">Date Range</label>
                <div class="col-sm-10 col-md-8">

                    <div id="reportrange" class="btn btn-default" style="background: #fff; cursor: pointer; padding: 5px 10px; width: 100%; text-align: left">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span>
                        <b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-sm-2 col-md-4 control-label">Transaction Category</label>
                <div class="col-sm-10 col-md-8">
                    <select class="selectpicker show-tick form-control">
                        <option value="All">All</option>
                        <option value="NewBusiness">New Business</option>
                        <option value="Renewal">Renewal</option>
                        <option value="Endorsements">Endorsements/Notices</option>
                        <option value="Cancellations">Cancellations</option>
                        <option value="Reinstated">Reinstatements</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-sm-2 col-md-4 control-label">View By</label>
                <div class="col-sm-10 col-md-8">
                    <select class="selectpicker show-tick form-control">
                        <option value="All">All</option>
                        <option value="NewBusiness">Viewed</option>
                        <option value="Renewal">Not viewed</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4 text-right">
                    <button id="pdi-search" type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="pdi-results" class="row hide">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading has-form">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-2">
                        <h3 class="panel-title padFix">Notices</h3>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                    <div class="col-xs-12 col-sm-7 col-md-4">
                        <div class="form-group has-feedback search-form">
                            <input type="text" class="form-control" placeholder="Refine search..." />
                            <i class="fa fa-search form-control-feedback"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <th>Region</th>
                        <th>Products</th>
                        <th>Description</th>
                        <th>Effective Date</th>
                        <th>Posted Date</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BC</td>
                            <td>All</td>
                            <td><a class="open-popup" href="#">MAC NSF on First Monthly Withdrawal</a></td>
                            <td>Jul 01, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Hab</td>
                            <td><a class="open-popup" href="#">Water Defence Endorsement for Wawanesa Policies</a></td>
                            <td>Jun 20, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Comm</td>
                            <td><a class="open-popup" href="#">Select Series Change</a></td>
                            <td>Aug 01, 2017</td>
                            <td>Jun 02, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>All</td>
                            <td><a class="open-popup" href="#">MAC NSF on First Monthly Withdrawal</a></td>
                            <td>Jul 01, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Hab</td>
                            <td><a class="open-popup" href="#">Water Defence Endorsement for Wawanesa Policies</a></td>
                            <td>Jun 20, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Comm</td>
                            <td><a class="open-popup" href="#">Select Series Change</a></td>
                            <td>Aug 01, 2017</td>
                            <td>Jun 02, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>All</td>
                            <td><a class="open-popup" href="#">MAC NSF on First Monthly Withdrawal</a></td>
                            <td>Jul 01, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Hab</td>
                            <td><a class="open-popup" href="#">Water Defence Endorsement for Wawanesa Policies</a></td>
                            <td>Jun 20, 2017</td>
                            <td>Jun 23, 2017</td>
                        </tr>
                        <tr>
                            <td>BC</td>
                            <td>Comm</td>
                            <td><a class="open-popup" href="#">Select Series Change</a></td>
                            <td>Aug 01, 2017</td>
                            <td>Jun 02, 2017</td>
                        </tr>
                    </tbody>
                </table>
                <form class="form-inline table-navigation-bar">
                    Show rows:

                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                    <div class="btn-group" role="toolbar">
                        <a class="btn btn-default btn-sm" href="#">«</a>
                        <a class="btn btn-default btn-sm" href="#">»</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Billing Details</h4>
            </div>
            <div class="modal-body">
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Name:</div>
                    <div class="col-md-4 col-xs-6">1043984 AB LTD</div>
                    <div class="col-md-2 col-xs-6">Policy Number:</div>
                    <div class="col-md-4 col-xs-6">4762956</div>
                </div>
                <div class="row row-bordered odd-col-header">
                    <div class="col-md-2 col-xs-6">Address:</div>
                    <div class="col-md-4 col-xs-6">12216 131A AVE NW EDMONTON AB T5L3N8</div>
                    <div class="col-md-2 col-xs-6">Broker Number:</div>
                    <div class="col-md-4 col-xs-6">0411681</div>
                </div>
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Line Of Business:</div>
                    <div class="col-md-4 col-xs-6">Auto</div>
                    <div class="col-md-2 col-xs-6">Payment Plan:</div>
                    <div class="col-md-4 col-xs-6">12 Pay</div>
                </div>              
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Effective Dates:</div>
                    <div class="col-md-4 col-xs-6">February 23, 2017 to February 23, 2018</div>
                    <div class="col-md-2 col-xs-6">Payment Method:</div>
                    <div class="col-md-4 col-xs-6">Automated Withdrawals</div>
                </div>
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Status:</div>
                    <div class="col-md-4 col-xs-6">Active</div>
                    <div class="col-md-2 col-xs-6">Service Charge:</div>
                    <div class="col-md-4 col-xs-6">3%</div>
                </div>           
                <div class="row row-bordered odd-col-header">
                    <div class="col-md-2 col-xs-6">NSF Fee:</div>
                    <div class="col-md-4 col-xs-6">$25.00 each occurrence</div>
                    <div class="col-md-2 col-xs-6">Withdrawal Day:</div>
                    <div class="col-md-4 col-xs-6">15</div>
                </div>  
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Bank Number:</div>
                    <div class="col-md-4 col-xs-6">899</div>
                    <div class="col-md-2 col-xs-6 no-xs-border"></div>
                    <div class="col-md-4 col-xs-6 no-xs-border"></div>
                </div>    
                <div class="row odd-col-header">
                    <div class="col-md-2 col-xs-6">Bank Account Number:</div>
                    <div class="col-md-4 col-xs-6">******0764</div>
                    <div class="col-md-2 col-xs-6 no-xs-border"></div>
                    <div class="col-md-4 col-xs-6 no-xs-border"></div>
                </div>                               
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        autoApply: true,
        startDate: start,
        endDate: end,
        alwaysShowCalendars: true,
        showCustomRangeLabel: false,
        applyClass: 'btn-primary',
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
    $('#pdi-search').on('click', function() {
        $.LoadingOverlay('show');

        setTimeout(function() {
            $.LoadingOverlay('hide');
            $('#pdi-results').removeClass('hide');
        }, 2000);
    });

    $('.open-popup').click(function(e) {
        e.preventDefault();
        $('#myModal').modal();
    });
});
</script>