<div class="row">
    <div class="col-md-12">
        <h2>Products
            <select class="selectpicker show-tick">
                <option>All Provinces</option>
                <option>British Columbia</option>
                <option>N. Alberta</option>
                <option>S. Alberta</option>
                <option>Maritimes</option>
                <option>Saskatchewan</option>
                <option>Manitoba</option>
                <option>Ontario</option>
            </select>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul id="products-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#all" role="tab" data-toggle="tab">
                    All
                </a>
            </li>
            <li role="presentation">
                <a href="#auto" role="tab" data-toggle="tab">
                    <i class="fa fa-car fa-lg visible-xs"></i>
                    <span class="hidden-xs">Automobile</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#hab" role="tab" data-toggle="tab">
                    <i class="fa fa-home fa-lg visible-xs"></i>
                    <span class="hidden-xs">
                        Habitational <span class="badge">3</span>
                    </span>
                </a>
            </li>
            <li role="presentation">
                <a href="#comm" role="tab" data-toggle="tab">
                    <i class="fa fa-building fa-lg visible-xs"></i>
                    <span class="hidden-xs">Commercial</span>
                </a>
                </li>
            <li role="presentation">
                <a href="#farm" role="tab" data-toggle="tab">
                    <i class="fa fa-tree fa-lg visible-xs"></i>
                    <span class="hidden-xs">Farm</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading has-form">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3 col-md-2">
                                        <h3 class="panel-title padFix">Notices</h3>
                                    </div>
                                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="form-group has-feedback search-form">
                                            <input type="text" class="form-control" placeholder="Refine search..." />
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <th>Region</th>
                                        <th>Products</th>
                                        <th>Description</th>
                                        <th>Effective Date</th>
                                        <th>Posted Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-inline table-navigation-bar">
                                    Show rows:

                                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                                    <div class="btn-group" role="toolbar">
                                        <a class="btn btn-default btn-sm" href="#">«</a>
                                        <a class="btn btn-default btn-sm" href="#">»</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading has-form">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3 col-md-2">
                                        <h3 class="panel-title padFix">Bulletins</h3>
                                    </div>
                                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="form-group has-feedback search-form">
                                            <input type="text" class="form-control" placeholder="Refine search..." />
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <th>Region</th>
                                        <th>Products</th>
                                        <th>Description</th>
                                        <th>Effective Date</th>
                                        <th>Posted Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Hab</td>
                                            <td>Water Defence Endorsement for Wawanesa Policies</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>Comm</td>
                                            <td>Select Series Change</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-inline table-navigation-bar">
                                    Show rows:

                                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                                    <div class="btn-group" role="toolbar">
                                        <a class="btn btn-default btn-sm" href="#">«</a>
                                        <a class="btn btn-default btn-sm" href="#">»</a>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading has-form">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3 col-md-2">
                                        <h3 class="panel-title padFix">Notices</h3>
                                    </div>
                                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="form-group has-feedback search-form">
                                            <input type="text" class="form-control" placeholder="Refine search..." />
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <th>Region</th>
                                        <th>Products</th>
                                        <th>Description</th>
                                        <th>Effective Date</th>
                                        <th>Posted Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-inline table-navigation-bar">
                                    Show rows:

                                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                                    <div class="btn-group" role="toolbar">
                                        <a class="btn btn-default btn-sm" href="#">«</a>
                                        <a class="btn btn-default btn-sm" href="#">»</a>
                                    </div>
                                </form>                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading has-form">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3 col-md-2">
                                        <h3 class="panel-title padFix">Bulletins</h3>
                                    </div>
                                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="form-group has-feedback search-form">
                                            <input type="text" class="form-control" placeholder="Refine search..." />
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <th>Region</th>
                                        <th>Products</th>
                                        <th>Description</th>
                                        <th>Effective Date</th>
                                        <th>Posted Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-inline table-navigation-bar">
                                    Show rows:

                                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                                    <div class="btn-group" role="toolbar">
                                        <a class="btn btn-default btn-sm" href="#">«</a>
                                        <a class="btn btn-default btn-sm" href="#">»</a>
                                    </div>
                                </form>                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading has-form">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3 col-md-2">
                                        <h3 class="panel-title padFix">Manuals</h3>
                                    </div>
                                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-6"></div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="form-group has-feedback search-form">
                                            <input type="text" class="form-control" placeholder="Refine search..." />
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs text-right">
                                        <span class="clickable"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <th>Region</th>
                                        <th>Products</th>
                                        <th>Description</th>
                                        <th>Effective Date</th>
                                        <th>Posted Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Auto Glass Claims - Partnering with Belron Canada</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>Multiple Receipts on Online Credit Card Payments Resolved</td>
                                            <td>Jun 20, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>YK</td>
                                            <td>Auto</td>
                                            <td>Two Broker Portal Enhancements</td>
                                            <td>Aug 01, 2017</td>
                                            <td>Jun 02, 2017</td>
                                        </tr>
                                        <tr>
                                            <td>BC</td>
                                            <td>All</td>
                                            <td>MAC NSF on First Monthly Withdrawal</td>
                                            <td>Jul 01, 2017</td>
                                            <td>Jun 23, 2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="form-inline table-navigation-bar">
                                    Show rows:

                                    <select class="form-control input-sm">
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> Go to:
                                    <input type="text" class="form-control input-sm" value="1"> 1-10 of 75
                                    <div class="btn-group" role="toolbar">
                                        <a class="btn btn-default btn-sm" href="#">«</a>
                                        <a class="btn btn-default btn-sm" href="#">»</a>
                                    </div>
                                </form>                                 
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div role="tabpanel" class="tab-pane" id="hab">3...</div>
            <div role="tabpanel" class="tab-pane" id="comm">4...</div>
            <div role="tabpanel" class="tab-pane" id="farm">5...</div>
        </div>
    </div>
</div>